[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Laterality"]
	path = Laterality
	url = https://github.com/cran/Laterality
	shallow = true
	registered = true
